# --- Core Dev ---
fastapi
uvicorn
starlette

# --- Database & ORM ---
sqlalchemy
psycopg2-binary
alembic
greenlet

# --- Authentication & Security ---
python-jose
passlib
bcrypt
cryptography

# ---  Configuration & Communication ---
python-dotenv
httpx
httpcore
pydantic-settings
# --- Testing ---
pytest